
<div id="categoriesbar" class="categoriesbar">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleCategoriesbar()">&times;</a>
    <div class="categoriesinfo">
        <h2> CATEGORIES </h2>
        <a href="#">Image Posts</a>
        <a href="#">Text Posts</a>
        <a href="#">Poll Posts</a>
        <br>
        <h2> SORT BY </h2>
        <a href="#">Most Liked</a>
        <a href="#">Most Commented</a>
        <a href="#">Most Recent</a>
    </div>
</div>
