<nav class="navbar">
    <div class="logo">DLSU FORUM</div>
    <div class="searchbar">
        <input type="text" placeholder="Search for a post!">
    </div>
    <ul class="navlinks">
        <li><a href="/">Home</a></li>
        <li><a href="javascript:void(0)" onclick="toggleCategoriesbar()">Categories</a></li>
        <li><a href="javascript:void(0)" onclick="toggleMembersbar()">Members</a></li>
        <li><a href="javascript:void(0)" onclick="toggleProfilebar()">Profile</a></li>
    </ul>
</nav>