
<div id="membersbar" class="membersbar">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleMembersbar()">&times;</a>
    <div class="membersinfo">
        <h2> MODS/ADMINS</h2>
        <a href="#">YilongMa</a>
        <h2> MEMBERS </h2>
        <a href="#">Anime_Girl79</a>
        <a href="#">Brainrot</a>
        <a href="#">Hater</a>
        <a href="#">Randymarsh</a>
        <a href="#">Skibidi</a>
        <p>More...</p>
    </div>
</div>
