
<div id="mysidebar" class="sidebar">
    <br>
<button class="openbtn" onclick="toggleNav()">☰</button>
    <br>
    <p> TAGS </p>
    <a href="#">#Subject</a>
    <a href="#">#Prof</a>
    <a href="#">#Help</a>
    <a href="#">#Drama</a>
    <a href="#">#Study</a>
    <a href="#">#Rant</a>
</div>