body {
    background-color: whitesmoke;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contentpane {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px, 0px, 10px, 10px;
    width: 300px;
    text-align: center;
}

.input-details {
    width: 80%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.input-rememberme {
    padding: 10px;
    margin: 20px 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.rememberme {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    width: 90%;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: darkgreen;
}

h3 {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 5px;
}

a {
    text-decoration: none; 
    color: black;
}